  /*html, body {
    margin:0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .Container {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #121212;
    color: #fff;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column; 
  }

.Title {
  color: #1DB954;
}

.ErrorText {
  color: #E74C3C;
}

.Table {
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
}

.TableHead {
  background-color: #333;
  color: #fff;
}

.TableBody {
  color: #ddd;
}

.TableRow:nth-of-type(even) {
  background-color: #242424;
}

.TableCell {
  padding: 5px;
  border: 1px solid #444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.TableNum{
  padding: 5px;
  border: 1px solid #444;
  width: 30px;
}
.TableText{
  border: 1px solid #444;
  width: 70px;
}

.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.PageButton {
  padding: 5px 10px;
  margin: 0 5px;
  width:50px; 
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.PageButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.TableActions{
  padding: 5px;
  border: 1px solid #444;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}
*/